<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пожаловаться</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,200,300,500" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
    	<div class="claim-main">
    		<div class="claim-welcome">Создать жалобу</div>
    		<form action="" method="post">
		        {% csrf_token %}
		        <div class="claim-content">
                    <div class="claim-line">{{ form.voteid.label}}: </div>
                    <div class="claim-line">{{form.voteid }}</div>
		        	<div class="claim-line">{{ form.reason.label}}:</div>
                    <div class="claim-line">{{form.reason }}</div>
		        	<div class="claim-line">{{ form.comment.label}}: </div>
                    <div class="claim-line">{{form.comment }}</div>
		        </div>
		        <input class="claim-button" type="submit" value="Отправить жалобу">
    		</form>
    	</div>
    </div>
    <a class="to_index" href="/">Обратно</a>
    {% include "footer.html" %}
</body>
</html>