<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование профиля</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,200,300,500" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
</head>
<body>
	{% load static %}
    <a href="/" class='to_main'>
        Назад
    </a>
	<div class="edit-container">
		<form class="edit-card" method="post" action="">
			{% csrf_token %}
			<div class="edit-welcome">
				<div>Профиль <b>{{ request.user.username }}</b> </div>
			</div>
			<div class="edit-main">
				<div class="edit-info">
					<div class="edit-edit" onclick="hide()">Редактировать</div>
					<div class="edit-inputs">
						<div class="edit-line">
							Имя:
							<div id="d1"> {{ request.user.first_name }} </div>
							<input id="e1" class="edit-input" name="first_name" type="text" value='{{ request.user.first_name }}'>
						</div>

						<div class="edit-line">
							Фамилия:
							<div id="d2">{{ request.user.last_name }}</div>
							<input id="e2" class="edit-input" name="last_name" type="text" value='{{ request.user.last_name }}'>
						</div>

						<div class="edit-line">
							E-mail:
							<div id="d3"> {{ request.user.email }}</div>
							<input id="e3" class="edit-input" name="email" type="email" value='{{ request.user.email }}'>
						</div>

						<div class="edit-line">
							Пароль:
							<div id="d4">●●●●●●●●</div>
							<input id="e4" class="edit-input" name="password" type="password">
						</div>
					</div>
				</div>
				<input id='i1' class="edit-button" type="submit" value="Сохранить"/>
			</div>
		</form>
	</div>
	{% include "footer.html" %}
</body>
<script>
		var editFirstName = document.getElementById('e1');
		var editSecondName = document.getElementById('e2');
		var editEmailName = document.getElementById('e3');
		var editPasswordName = document.getElementById('e4');

		var dFirstName = document.getElementById('d1');
		var dSecondName = document.getElementById('d2');
		var dEmailName = document.getElementById('d3');
		var dPasswordName = document.getElementById('d4');

		var submitElem = document.getElementById('i1');


		var h = true;
	    function hide() {
	    	h = !h
	    	if (h) {
	    		editFirstName.style.display = 'none';
	    		dFirstName.style.display = 'block';
	    		editSecondName.style.display = 'none';
	    		dSecondName.style.display = 'block';
	    		editEmailName.style.display = 'none';
	    		dEmailName.style.display = 'block';
	    		editPasswordName.style.display = 'none';
	    		dPasswordName.style.display = 'block';
	    		submitElem.style.display = 'none'
	    	} else {
	    		editFirstName.style.display = 'block';
	    		dFirstName.style.display = 'none';
	    		editSecondName.style.display = 'block';
	    		dSecondName.style.display = 'none';
	    		editEmailName.style.display = 'block';
	    		dEmailName.style.display = 'none';
	    		editPasswordName.style.display = 'block';
	    		dPasswordName.style.display = 'none';
	    		submitElem.style.display = 'flex'
	    	}
	    };
	</script>
</html>