<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Голосование</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,200,300,500" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="vote-main">
            <div class="vote-title">{{title}}</div>
            <div class="vote-description">{{description}}</div>
            <form class="vote-content" action="" method="post">
                <div class="vote-answers">
                    {% csrf_token %}
                    {% for field in form.chosen %}
                    <div>{{field}}</div>
                    {% endfor %}
                </div>
                <input class="vote-button" type="submit" value="Ввести">
            </form>
        </div>
    </div>
    <a class="to_index" href="/">Обратно</a>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>