html {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.profile-container {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: green;
    text-decoration: none;
    margin-bottom: 20px;
    width: 110px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.profile:hover {
    background-color: darkgreen;
}

.profile-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.profile-edit:hover {
    background-color: darkgreen;
}

.profile-history {
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.profile-history:hover {
    background-color: darkgreen;
}

.profile-quit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.profile-quit:hover {
    background-color: darkgreen;
}

.profile-menu {
    display: none;
}

.votes {
    margin-top: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 2px;
    left: 35vw;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.votes-menu {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: larger;
    color: rgba(0, 0, 0, 0.25);
}

.sp-votes {
    width: 500px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
}

.vote {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 3px;
    border: lightblue solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
}

.vote-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    font-weight: 500;
}

.vote-date {
    display: flex;
    width: 430px;
    align-items: center;
    justify-content: flex-end;
    font-size: small;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.votes-create {
    padding: 2px 8px 2px 8px;
    background-color: lightblue;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.vote-icon {
    text-decoration: none;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.vote-ssilka {
    text-decoration: none;
    color: black;
    margin: 5px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vote-main {
    margin-top: 100px;
    width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.to_index {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    background-color: green;
    text-decoration: none;
    width: 110px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.vote-title {
    border-bottom: lightgrey solid thin;
    display: flex;
    align-items: center;
    width: 400px;
    font-weight: 500;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.vote-description {
    border-bottom: lightgrey solid thin;
    display: flex;
    align-items: center;
    width: 400px;
    text-align: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.vote-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.vote-answers {
    padding: 20px 10px 20px 10px;
}

.vote-button {
    border-radius: 0px 0px 3px 3px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: steelblue;
    border: none;
}

.vote-button:hover {
    background-color: #3A6B94;
}

.to_index:hover {
    background-color: darkgreen;
}

.claim-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: white;
    width: 360px;
    border-radius: 3px;
    border: solid thin lightgrey;
    padding: 10px;
}

.claim-input-alt {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: white;
    border-radius: 3px;
    border: solid thin lightgrey;
    padding: 10px;
}

.claim-input-alt:focus {
    border: solid thin grey;
}

.claim-input:focus {
    border: solid thin grey;
}

.claim-main {
    margin-top: 100px;
    width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.claim-content {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.claim-welcome {
    border-bottom: lightgrey solid thin;
    display: flex;
    align-items: center;
    width: 400px;
    text-align: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}


.claim-button {
    border-radius: 0px 0px 3px 3px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: #C72626;
    border: none;
}

.claim-line {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
}

.claim-button:hover {
    background-color: firebrick;
}

body {
    height: 700px;
}

.edit-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.edit-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.edit-welcome {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid thin lightgrey;
}

.edit-edit {
    cursor: pointer;
    border: solid grey thin;
    padding: 5px;
    border-radius: 3px;
}

.edit-button {
    border-radius: 0px 0px 3px 3px;
    width: 400px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: none;
    font-size: 16px;
}

.edit-main {
    width: 400px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-info {
    padding-top: 10px;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-button:hover {
    background-color: darkgreen;
}

.edit-edit:hover {
    background-color: lightgrey;
}

.edit-line {
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.edit-inputs {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: center;
    height: 340px;
}

.edit-input {
    width: 150px;
    display: none;
    background-color: white;
    border-radius: 3px;
    border: solid thin lightgrey;
    padding: 5px;
}

.edit-input:focus {
    border: solid thin grey;
}

.to_main {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: green;
    text-decoration: none;
    width: 110px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.to_main:hover {
    background-color: darkgreen;
}

.reg-main {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.reg-welcome {
    border-radius: 3px 3px 0px 0px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid thin lightgrey;
}

.reg-error {
    border-radius: 3px 3px 0px 0px;
    background-color: red;
    border: firebrick solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.reg-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
    width: 300px;
}

.reg-input {
    background-color: white;
    width: 150px;
    border-radius: 3px;
    border: solid thin lightgrey;
    padding: 10px;
}

.reg-input:focus {
    border: solid thin grey;
}

.reg-button {
    border-radius: 0px 0px 3px 3px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: none;
}

.reg-button:hover {
    background-color: darkgreen;
}

.to_auth {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    background-color: green;
    text-decoration: none;
    width: 110px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.to_auth:hover {
    background-color: darkgreen;
}